<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'site_1/css/base.css' %}" >
    <title>你的请求头信息</title>
</head>
<body>
    <table>
        {% for k,v in html.items %}
        <tr>
            <td >{{ k }}</td><td>{{ v }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>